# Python
*.pyc
*.pyo
*.pyd
__pycache__

# Virtual environments
venv/
new_env_POS_nlp/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
